<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>

<h1>Admin Dashboard</h1>
<h2>Total Users: {{ total_users.total_users }}</h2>

<ul>
    <li><a href="/admin/user">Users</a></li>
    <li><a href="/admin/view_messages">Messages</a></li>
    <li><a href="/admin/projects">Projects</a></li>
    <li><a href="/admin/setting">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
<script src="/static/js/admin.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>